
<ion-header>
  <ion-navbar hideBackButton>
    <ion-title class="headertitle">
     <b>DATABASE_NAME <br> Storage & Organizer</b>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<div class="row">
  <ion-list class="sheettitle">
      <ion-item class="sheettitle" *ngFor="let main of mains | async">{{main.title}}         
    </ion-item>        
  </ion-list>  
 <ion-buttons class="renamesheettitle">
      <button ion-button icon-only light (click)="updateTitle(title)"><ion-icon name="ios-brush-outline"></ion-icon></button>
 </ion-buttons>

      <ion-buttons class="settings">
          <button ion-button icon-only (click)="openSettings()"><ion-icon name="ios-settings-outline"></ion-icon></button>
      </ion-buttons>
    
      <label class="itemselect">
   <!-----   <div class="input-label">Colour</div> ----->
          <select>
            <option><b>DATABASE NAME 1</b></option>
            <option>DATABASE NAME 2</option>
            <option>DATABASE NAME 3</option>
          </select>         
          <ion-buttons class="createsheets">
              <button ion-button icon-only (click)="createsheets"><ion-icon name="md-bonfire"></ion-icon></button>
          </ion-buttons>
        </label>
        
</div>

<p>
   
</p>
  <table class ="spreadsheet">
    <tr>
      <th class="column00">Input DATA
          <ion-buttons>
              <button ion-button icon-only light (click)="addData()"><ion-icon name="md-add-circle"></ion-icon></button>
          </ion-buttons>
      </th>
      <th class="columnrest">
          <ion-item class="sheettitle" *ngFor="let data of datas | async">{{data.title}}          
            </ion-item> 
                    
          <ion-buttons>
              <button ion-button icon-only light (click)="adddata"><ion-icon name="md-arrow-dropup-circle"></ion-icon></button>
          </ion-buttons>
      </th>
      <th class="columnrest">The second column example title
        
      </th>
      <th class="columnrest">The third column example title

      </th>
      <th class="columnrest">The fourth column example title

      </th>
      <th class="columnrest">The fifth column example title 

      </th>
      <th class="columnrest">The sixth column example title

      </th>
      <th class="columnrest">The seventh column example title

      </th>     
      <th class="columnrest">The eighth column example title

      </th>
      <th class="columnrest">The ninth column example title

      </th>

      <th class="columnrest">The tenth column example title
    </tr>
    <tr *ngFor="let i of cells">
      <td *ngFor="let j of columns">
        <ion-item *ngIf="items[j+i] !== undefined">
          {{items[j+i]}}
        </ion-item>
        <ion-item *ngIf="items[j+i] == undefined">sdf
        {{j}}
        {{i}}
        <ion-buttons>
            <button ion-button icon-only light (click)="dataTest(j+i)"><ion-icon name="md-arrow-dropright-circle"></ion-icon></button>
        </ion-buttons>
      </ion-item>
      </td>       
      </tr>   
<!----   <tr>
      <td class="column">1
          <ion-buttons>
              <button ion-button icon-only light (click)="editrow"><ion-icon name="md-arrow-dropright-circle"></ion-icon></button>
          </ion-buttons>
      </td>
      <td *ngFor="let i of cells">
        {{i}}       
      </td>
    </tr>
    <tr>
      <td class="column">2
      </td>
      <td *ngFor="let i of cells">
          {{i}}       
     </td>
    </tr>
    <tr>
      <td class="column">3</td>
    </tr>
    <tr>
      <td class="column">4</td>
    </tr>
    <tr>
      <td class="column">5</td>
    </tr>
    <tr>
      <td class="column">6</td>
    </tr>
    <tr>
      <td class="column">7</td>
    </tr>
    <tr>
      <td class="column">8</td>
    </tr>
    <tr>
      <td class="column">9</td>
    </tr>
    <tr>
      <td class="column">10</td>
    </tr> ----->
  </table> 
</ion-content>
