
<ion-header>
  <ion-navbar hideBackButton>
    <ion-title class="headertitle">
     <b>DATABASE_NAME <br> Storage & Organizer</b>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<div class="row">
  <ion-list class="sheettitle">
      <ion-item class="sheettitle" *ngFor="let main of mains | async">{{main.title}}         
    </ion-item>        
  </ion-list>  
 <ion-buttons class="renamesheettitle">
      <button ion-button icon-only light (click)="updateTitle(title)"><ion-icon name="ios-brush-outline"></ion-icon></button>
 </ion-buttons>

      <ion-buttons class="settings">
          <button ion-button icon-only (click)="openSettings()"><ion-icon name="ios-settings-outline"></ion-icon></button>
      </ion-buttons>
    
      <label class="itemselect">
   <!-----   <div class="input-label">Colour</div> ----->
          <select>
            <option><b>DATABASE NAME 1</b></option>
            <option>DATABASE NAME 2</option>
            <option>DATABASE NAME 3</option>
          </select>         
          <ion-buttons class="createsheets">
              <button ion-button icon-only (click)="createsheets"><ion-icon name="md-bonfire"></ion-icon></button>
          </ion-buttons>
        </label>
        
</div>

<p>
   
</p>
  <table class ="spreadsheet">
    <tr>
      <th class="columnrest">
          <ion-buttons>
              <button ion-button icon-only light (click)="addData()"><ion-icon name="md-add-circle"></ion-icon></button>
          </ion-buttons>
      </th>
      <th class="columnrest">A
      <!----<ion-item class="sheettitle" *ngFor="let data of datas | async">A          
            </ion-item> 
                    
         <ion-buttons>
              <button ion-button icon-only light (click)="adddata"><ion-icon name="md-arrow-dropup-circle"></ion-icon></button>
          </ion-buttons> ---->
      </th>
      <th class="columnrest">B
        
      </th>
      <th class="columnrest">C

      </th>
      <th class="columnrest">D

      </th>
      <th class="columnrest">E 

      </th>
      <th class="columnrest">F

      </th>
      <th class="columnrest">G

      </th>     
      <th class="columnrest">H

      </th>
      <th class="columnrest">I

      </th>

      <th class="columnrest">J
    </tr>
    <tr *ngFor="let i of cells">
      <td *ngFor="let j of columns">
        <ion-item class="datacells" *ngIf="items[j+i] !== undefined">
          {{items[j+i]}}
        </ion-item>
        <ion-item class="datacells" *ngIf="items[j+i] == undefined">
        <p>{{j}}{{i}}</p>
        
        </ion-item>
      <ion-item class="editButton">
      <ion-buttons>
          <button ion-button icon-only light (click)="editItem(j+i)"><ion-icon name="md-arrow-dropright-circle"></ion-icon></button>
      </ion-buttons>   
    </ion-item> 
      </td>       
      </tr>   
<!----   <tr>
      <td class="column">1
          <ion-buttons>
              <button ion-button icon-only light (click)="editrow"><ion-icon name="md-arrow-dropright-circle"></ion-icon></button>
          </ion-buttons>
      </td>
      <td *ngFor="let i of cells">
        {{i}}       
      </td>
    </tr>
    <tr>
      <td class="column">2
      </td>
      <td *ngFor="let i of cells">
          {{i}}       
     </td>
    </tr>
    <tr>
      <td class="column">3</td>
    </tr>
   <tr>
      <td class="column">4</td>
    </tr>
    <tr>
      <td class="column">5</td>
    </tr>
    <tr>
      <td class="column">6</td>
    </tr>
    <tr>
      <td class="column">7</td>
    </tr>
    <tr>
      <td class="column">8</td>
    </tr>
    <tr>
      <td class="column">9</td>
    </tr>
    <tr>
      <td class="column">10</td>
    </tr> ----->
  </table> 

</ion-content>