page-settingspage {
/* *{
     background-color: #f1c40f;
}*/
.sheettitle{
    background-color: #e67e22;
}
.bottom{
    text-align: center;
}
.head{
    text-align: center;
}
.logout{
    text-align: center;
}
}
