page-home {
*{
  background-color:#f1c40f;  
}
.sheettitle{
    background-color: #e67e22;
}
.settings{
    background-color: #f39c12;
    position:absolute; right:5px;
}
.renamesheettitle{
    background-color: #f39c12;
    position:absolute; left:225px;
}
}
